# Ignore all Python bytecode files
*.pyc
.venv/
env.py
__pycache__/
.github/
blog/fixtures/
fixtures/
.pyc
db.json
db.sqlite3
core/__pycache__/settings.cpython-312.pyc
__pycache__/env.cpython-312.pyc
__pycache__/env.cpython-312.pyc
